.nav {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 8rem;
    border: 1px solid black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    background-color: rgb(224, 218, 218);

    z-index: 1000;
}   

.menu {
    padding: 1.5rem;
    border: 1px solid black;
    font-size: 2rem;
    border-radius: 25%;
    margin: 2.5rem;
}
