.item{
    width: 40rem;
    height: 45rem;
    background-color: lightblue;
    box-shadow: 5px 5px 10px;

    font-size: 16px;
    font-weight: 800;
}
.item Img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    
}

.item span{
    font-size: 8px;
    max-width: 100%;
    max-height: 100%;
}


.verde{
    background-color: lightgreen;
}